<div class="container">
<h1 style="text-align: center;">Welcome to {{title}}</h1>
</div>

<div class="container">
  <h2 style="text-align: center;">Registration form</h2>
  <div class="container"> {{registrationForm.value | json}}</div>
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label for="username">Username:</label>
      <input [class.is-invalid]="username.invalid && username.touched " formControlName="username" type="text" class="form-control" id="username" placeholder="Enter username" name="username">      
      <div *ngIf="username.invalid && username.touched">
        <small *ngIf="username.errors?.required" class="text-danger" >UserName is required</small>
        <small *ngIf="username.errors?.minlength" class="text-danger" >UserName must be at least 6 charachters</small>
      </div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input formControlName="password" type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-group">
      <label for="confirmpwd">Confirm Password:</label>
      <input formControlName="confirmPassword" type="password" class="form-control" id="confirmpwd" placeholder="Enter password" name="confirmpwd">
    </div>
   <div formGroupName="address">
      <label for="address">Address:</label>
      <div class="form-group">
        <label for="city">City:</label>
        <input formControlName="city" type="text" class="form-control" id="city" placeholder="Enter city" name="city">
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <input formControlName="state" type="text" class="form-control" id="state" placeholder="Enter state" name="state">
      </div>
     <div class="form-group">
        <label for="postalcode">Postal Code:</label>
        <input formControlName="postalCode" type="text" class="form-control" id="postalcode" placeholder="Enter postalcode" name="postalcode">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button (click)="loadApiData()" type="button" class="btn btn-secondary ml-2">Load API data</button>
  </form>
</div>
