<div class="container">
  <h1 style="text-align: center;">Welcome to {{title}}</h1>
</div>

<div class="container">
  <h2 style="text-align: center;">Registration form</h2>
  <div class="container"> {{registrationForm.value | json}}</div>
  <form [formGroup]="registrationForm">
    <!--Custom validation-->
    <div class="form-group">
      <label for="username">Username:</label>
      <input [class.is-invalid]="username.invalid && username.touched " formControlName="username" type="text" class="form-control" id="username" placeholder="Enter username" name="username">      
      <div *ngIf="username.invalid && username.touched">
        <small *ngIf="username.errors?.required" class="text-danger" >UserName is required</small>
        <small *ngIf="username.errors?.minlength" class="text-danger" >UserName must be at least 3 charachters</small>
        <small *ngIf="username.errors?.forbiddenName" class="text-danger" >{{username.errors?.forbiddenName.value}} UserName not allowed</small>      
      </div>
    </div>
    <!--Conditional validation-->
    <div class="form-group">
      <label for="email" >Email:</label>
      <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmail()">Add alternate email</button>
      <input formControlName="email" [class.is-invalid]="email.invalid && email.touched" type="text" class="form-control" id="email" placeholder="Enter email" name="email">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
       <!--Iterate over from array and display input field-->
       <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
        <!--array is dynamic so index value i to bind to from control name property-->
        <input type="text" class="form-control my-1" placeholder="Enter alternate email" formControlName="i">
      </div>
    </div>
    <div class="form-check mb-3">
      <input formControlName="subscribe" type="checkbox" class="form-check-input" id="offers" name="offers">
      <label class="form-check-label" for="offers">Send me optional Offers:</label>
    </div>
    <!--Cross field validation-->
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input formControlName="password" type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-group">
      <label for="confirmpwd">Confirm Password:</label>
      <input [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="confirmPassword" type="password" class="form-control" id="confirmpwd" placeholder="Enter password" name="confirmpwd">
      <small *ngIf="registrationForm.errors?.misMatch" class="text-danger" >Passwords do not match</small>
    </div>
    <div formGroupName="address">
      <label for="address">Address:</label>
      <div class="form-group">
        <label for="city">City:</label>
        <input formControlName="city" type="text" class="form-control" id="city" placeholder="Enter city" name="city">
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <input formControlName="state" type="text" class="form-control" id="state" placeholder="Enter state" name="state">
      </div>
     <div class="form-group">
        <label for="postalcode">Postal Code:</label>
        <input formControlName="postalCode" type="text" class="form-control" id="postalcode" placeholder="Enter postalcode" name="postalcode">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button (click)="loadApiData()" type="button" class="btn btn-secondary ml-2">Load API data</button>
  </form>
</div>
