<div class="container">
<h1 style="text-align: center;">Welcome to {{title}}</h1>
</div>

<div class="container">
  <h2 style="text-align: center;">Registration form</h2>
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label for="username">Username:</label>
      <input formControlName="username" type="text" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input formControlName="password" type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-group">
      <label for="confirmpwd">Confirm Password:</label>
      <input fromControlName="confirmPassword" type="password" class="form-control" id="confirmpwd" placeholder="Enter password" name="confirmpwd">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {{registrationForm.value | json}}
</div>
